# Public env variables (Browser access)
# In Dev: http://localhost:8090
# In Prod: https://api.yourdomain.com
PUBLIC_POCKETBASE_URL="http://localhost:8090"

# Docker Internal URL (Publicly safe variable, but only usable inside Docker)
PUBLIC_INTERNAL_POCKETBASE_URL="http://codecamp-pocketbase:8090"

# Private env variables

PORT=3030
ORIGIN=http://localhost:3030

PB_ADMIN_EMAIL=
PB_ADMIN_PASS=

# Docker variables

COMPOSE_BAKE=true
